.rocket2 {
  background-color: rgba(214, 157, 10, 0.789) !important;
  border: 1px solid #4e4e4e !important;
  box-shadow: 0 0 10px #fff0 !important;
}

.rocket1 {
  background-color: rgba(0, 0, 0, 0.789) !important;
  border: 1px solid #4e4e4e !important;
  box-shadow: 0 0 10px #fff0 !important;
}
